{% extends 'base.html' %}
{% load static %}
{% block script %}
<script src="https://js.stripe.com/v3/"></script> {% endblock script%}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="POST" action="{% url 'create-checkout-session' order.id %}">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="Country..">
                    </div>
                </div>

                <hr>
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Continue</button>
            </form>
        </div>

        <br>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <h3>Order Summary</h3>
            <hr>
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2" class="fw-bold">Instrument</div>
                <div style="flex:1" class="fw-bold">Price</div>
                <div style="flex:1" class="fw-bold">Quantity</div>
            </div>
            {% for item in orderitems %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.instrument.instrument_image.url}}"></div>
                <div style="flex:2"><p>{{item.instrument.instrument_name}}</p></div>
                <div style="flex:1"><p>${{item.instrument.instrument_price}}</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_order_items}}</h5>
            <h5>Total: ${{order.get_order_total}}</h5>
        </div>
    </div>
</div>
{% endblock content %}