{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid container-fluid-section-one">
    <div class=container>
        <div class=row>
            <div id=TopContaner class="k-rtl topContaner">
                <div class=top-Content>
                    <div class="left-content col-md-6 col-12">
                        <div class="mouse_scroll text-scroll">
                            <div><span class="m_scroll_arrows unu">به پایین اسکرول کنید</span> <a href=# class=scroll-down address=true></a></div>
                        </div>
                    </div>
                    <div class="right-content col-md-6 col-12">
                        <h2>ماهانه بیش از یک میلیون بازدید کننده در سایت <strong>دکتر ساینا</strong> وجود دارد!</h2>
                        <h4>روزانه بالغ بر 70 هزار نفر بازدید کننده برای یافتن شما به دکتر ساینا مراجعه میکنند.</h4>
                        <ul>
                            <li><a href="" onclick="$('html, body').delay(200).animate({scrollTop:$('#section-four').offset().top-120},1000);return false" target=_self title="ثبت نام در دکتر ساینا">ثبت نام</a> <i></i></li>
                            <li><a href="" title="اطلاعات بیشتر" onclick="$('html, body').delay(200).animate({scrollTop:$('#section-one').offset().top+180},1000);return false" target=_self>اطلاعات بیشتر</a> <i></i></li>
                        </ul>
                    </div>
                </div>
                <div class=sections id=section-one>
                    <div class=analytic-box>
                        <div class=contentHeader><i></i> <span class=contentCaption>آمار ها چه می گویند؟</span></div>
                        <div class=contentCenter>
                            <div class="row-box sex col-lg-3 col-md-6 col-12" data-aos=fade-in>
                                <div class=parent-box>
                                    <i></i> <span class=boxTitle>جنسیت بازدیدکنندگان</span>
                                    <figure></figure>
                                </div>
                            </div>
                            <div class="row-box age col-lg-3 col-md-6 col-12" data-aos=fade-up>
                                <div class=parent-box>
                                    <i></i> <span class=boxTitle>سن بازدیدکنندگان</span>
                                    <figure></figure>
                                </div>
                            </div>
                            <div class="row-box searching col-lg-3 col-md-6 col-12" data-aos=fade-in>
                                <div class=parent-box>
                                    <i></i> <span class=boxTitle>موتور های جستجوگر</span>
                                    <figure></figure>
                                </div>
                            </div>
                            <div class="row-box tools col-lg-3 col-md-6 col-12" data-aos=fade-up>
                                <div class=parent-box>
                                    <i></i> <span class=boxTitle>ابزار های مورد استفاده</span>
                                    <figure></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-fluid-section2-two">
    <div class=container>
        <div class=row>
            <div id=LeftContaner class="k-rtl leftContaner">
                <div class=sections id=section-two>
                    <div class=introduction-box>
                        <div class="left-content col-lg-8 col-12 float-left">
                            <figure><img class="aos-init aos-animate show-lg" data-aos=fade-right src=/themes/drSainaDoctorRegisterConsultLand/images/Laptop.png alt="امکانات دکتر ساینا"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-fluid-section-three">
    <div class=container>
        <div class=row>
            <div id=RightContaner class="k-rtl RightContaner">
                <div class=sections id=section-three>
                    <div class=possibilities-box>
                        <div class=contentHeader><i></i> <span class=contentCaption>امکانات مشاوره آنلاین پزشکی</span></div>
                        <div class=contentCenter>
                            <div class="row-box income col-lg-4 col-md-6 col-12" data-aos=fade-up>
                                <i></i>
                                <h4>کسب درآمد حرفه ای</h4>
                                <p>با مشاوره به بیماران در هر زمان و مکان به صورت حرفه ای درآمد کسب کنید.</p>
                            </div>
                            <div class="row-box contents col-lg-4 col-md-6 col-12" data-aos=fade-down>
                                <i></i>
                                <h4>امکان بارگذاری محتوا به صورت ویدئو و عکس</h4>
                                <p>جهت بهتر دیده شدن در موتور های جستجو و کاربران دکترساینا می توانید محتوا خود را به صورت ویدئو، عکس، متن و مقاله بارگزاری نمایید.</p>
                            </div>
                            <div class="row-box bio col-lg-4 col-md-6 col-12" data-aos=fade-up>
                                <i></i>
                                <h4>امکان درج بیوگرافی</h4>
                                <p>با درج بیوگرافی در قالب سوابق تحصیلی، علمی، عضویت در انجمن ها و اتحادیه ها اعتماد مخاطب را جلب کنید.</p>
                            </div>
                            <div class="row-box close-cns col-lg-4 col-md-6 col-12" data-aos=fade-up>
                                <i></i>
                                <h4>پایان مشاوره با پزشک</h4>
                                <p>در اپلیکیشنی که شما پاسخ بیمار را می دهید، امکان اتمام مشاوره به عهده پزشک است.چون تشخیص همیشه با پزشک است.</p>
                            </div>
                            <div class="row-box online-offline col-lg-4 col-md-6 col-12" data-aos=fade-up>
                                <i></i>
                                <h4>هر زمان آنلاین وآفلاین باشید</h4>
                                <p>در اپلیکیشنی که شما پاسخ بیمار را می دهید، هر زمان که مسافرت یا کنگره پزشکی و... بودید میتوانید خود را آفلاین و هر زمان که خواستید خود را آنلاین کنید و پاسخ بیماران را بدهید.</p>
                            </div>
                            <div class="row-box other-ftr col-lg-4 col-md-6 col-12" data-aos=fade-up>
                                <i></i>
                                <h4>ویژگی های دیگر اپلیکیشن پاسخگویی پزشک</h4>
                                <p>بیمار شماره تماس پزشک را ندارد. بیمار هر زمان هزینه مشاوره را پرداخت کند، سوال برای پزشک ارسال خواهد شد. میزان رضایتمندی بیمار را پزشک می بیند. نمایش جزئیات مالی درآمدی مشاوره را پزشک می بیند</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id=CenterContaner class="k-rtl CenterContaner"></div>
        </div>
    </div>
</div>
<div class="container-fluid container-fluid-section-four">
    <div class=container>
        <div class=row>
            <div id=ButtomContaner class="k-rtl buttomContaner">
                <div class=sections id=section-four>
                    <div class=Comparison-cost-box>
                        <div class=contentHeader><i></i> <span class=contentCaption>هزینه</span></div>
                        <div class="contentCenter aos-init aos-animate" data-aos=fade-up data-aos-anchor-placement=top-bottom>
                            <figure class="cost-img col-lg-6 col-12 float-right"><img src=/themes/drSainaDoctorRegisterConsultLand/images/cost.svg alt="ثبت نام در مشاوره آنلاین پزشکی" title="ثبت نام در مشاوره آنلاین پزشکی"></figure>
                            <div class="cost-text col-lg-6 col-12 float-left">
                                <h5>مشاوره دکتر ساینا نه تنها برای شما <span>هزینه</span> ندارد، بلکه می توانید <span>آنلاین</span> کسب درآمد کنید.</h5>
                                <a class=registraition href=/DoctorContracts/Contracts/Register title="ثبت نام در مشاوره آنلاین پزشکی دکتر ساینا">همین الان ثبت نام کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
