<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Ecommerce</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script type="text/javascript">var user='{{request.user}}'</script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between px-3" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="navbar-brand" href="{% url 'instruments' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'instruments' %}">Instruments</a>
            </li>
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Categories</a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for category in categories %}
                        <a class="dropdown-item" href="{% url 'instruments' %}" style="color: black">{{category.category_name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuLink2" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Manufacturers</a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for manufacturer in manufacturers %}
                        <a class="dropdown-item" href="{% url 'instruments' %}" style="color: black">{{manufacturer.manufacturer_name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-flex">
            {% if user.is_authenticated %}
                <div style="color: white" class="mt-3">Hello {{user.username}}!</div>
                <div class="mt-2"><a style="color: white" class="btn" href="{% url 'logout' %}">Logout</a></div>
                <a href="{% url 'shoppingCart' %}" class="mt-3 ml-2 mb-2">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{cartItems}}</p>
            {% else %}
                <div class="m-2">
                    <a class="btn" href="{% url 'register' %}" style="color: white">Sign Up</a>
                </div>
                <div class="m-2">
                    <a class="btn" href="{% url 'login' %}" style="color: white">Login</a>
                </div>

            {% endif %}
        </form>
    </div>
</nav>

<div class="container">
    <br>
    {% block content %}


    {% endblock content %}
</div>

</body>
</html>