{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong border-2" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <h3 class="mb-5 text-center">Sign in</h3>
            <form method="POST" action="">
              {% csrf_token %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Username</label>
                <input name="username" type="text" id="username" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                <input name="password" type="password" id="password" class="form-control form-control-lg" />
              </div>

              <div class="text-center">
                  <input class="btn btn-primary rounded btn-lg pt-2 pb-2" type="submit" value="Login">
              </div>
            </form>

            {% for message in messages %}
              <p id="messages" style="color: red">{{message}}</p>
            {% endfor %}
            <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'register' %}"
                    class="fw-bold text-body"><u>Sign up</u></a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username...';
		form_fields[2].placeholder='Password...';

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>

{% endblock content %}