{% extends 'coaching/base.html' %}
{% load static %}
{% block content %}
{% load get_dict %}

<div class="container-fluid container-fluid-comments">
</div>
<div class="container-fluid-consultation-doctors">
    <div class="row">
        <div class="container">
            <div id="consulation-filter" class="boxConsultant-filter col-md-3 float-right">
                <div class="consultation-filter-box {% if request.GET %}filterChanged{% endif %}">
                    <div class="consultation-filter-header">
                        <span class="fa fa-close icon-close" title="close"></span> 
                        <i class="consultation-filter-header-icon fa fa-sliders"></i> 
                        <span class="consultation-filter-header-caption">Filters</span> 
                        <span class="consultation-filter-delete" onclick="resetCheckBox(this)">Remove filters</span>
                    </div>
                    <div class="filtered_now_list_container filtered_now_list_container__m" id="filtered_now____"></div>
                    <div class="consultation-filter-body">
                        <ul class="consultation-filter-lists consultation-filter-available border-0">
                            <li class="consultation-filter-item-caption">
                                <label class="consultation-filter-item-text">Specialities</label>
                                <div><input autocomplete="off" id="filters_diseases_input" placeholder="Search speciality" class="consultation-filter-item-diseases_input"></div>
                                <div class="diseases_filters_container">
                                    {% for spec in specs_data %}
                                    <button data-href="{{ spec }}" class="diseases_filters_item {% if request.GET|get_subdata:'spec' == spec %}--active{% endif %} " style="display: block;"> {{ spec }} ({{ specs_data|get_subdata:spec }}) </button>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <ul class="consultation-filter-lists">
                            <li class="consultation-filter-item-caption"><label class="consultation-filter-item-text">Coach gender</label></li>
                            <div class="consultation-filter-item___container_box">
                                <li class="consultation-filter-item__flex__filter"><input autocomplete="off" id="justFemaleR" class="consultation-filter-input consultation-filter-input-radio genderRadio" type="checkbox" value="false"> <label for="justFemaleR" class="consultation-filter-text">Female</label> <i class="icon icon-w-user" style="right:12px"></i></li>
                                <li class="consultation-filter-item__flex__filter"><input autocomplete="off" id="justMaleR" class="consultation-filter-input consultation-filter-input-radio genderRadio" type="checkbox" value="false"> <label for="justMaleR" class="consultation-filter-text">Male</label> <i class="icon icon-m-user"></i></li>
                            </div>
                        </ul>
                        <ul class="consultation-filter-lists consultation-filter-available border-0" style="border-bottom:0">
                            <li class="consultation-filter-item-caption">
                                <label class="consultation-filter-item-text">Cities</label>
                                <div><input autocomplete="off" id="filters_cities_input" placeholder="Search cities" class="consultation-filter-item-diseases_input"></div>
                                <div class="city_filters_container">
                                    {% for city in city_data %}
                                    <button data-href="{{ city }}" class="city_filters_item {% if request.GET|get_subdata:'city' == city %}--active{% endif %} " style="display: block;"> {{ city }} ({{ city_data|get_subdata:city }}) </button>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <div class="consultation-filter-apply"><span onclick="resetCheckBox(this)" class="mobile_clear_all_filters__ consultation-filter-apply-btn corner-btn wide-bnt lg-drsaina-btn"> Remove filters </span> <span onclick="soSearch()" class="consultation-filter-apply-btn corner-btn new-green-primary-btn wide-bnt lg-drsaina-btn"> Apply filter(s) </span></div>
                    </div>
                </div>
            </div>
            <style>.filterChanged .consultation-filter-delete{display:block}.filter-sort-list{display:none}.openMenu .filter-sort-list{display:block}</style>
            <div id="consulation-list" class="box boxConsultant col-md-9 float-left">
                <div class="scroll__to__top__fixed__button fade" id="scroll__to__top__fixed__button"><i class="icon icon-arrow-up"></i></div>
                <div class="ContentHeader ContentHeaderboxConsultant">
                    <div class="apply-filter">
                        <span id="showFilterModal" class="apply-filter-item-link corner-btn">
                            <i class="fa fa-sliders"></i> Filters <i class="icon icon-arrow-left"></i>
                            <div class="filtered_now_list_container hide__f_on_desktop" id="filtered_now____mobile"></div>
                        </span>
                        <div class="apply-filter-item sort-caption">
                            <span class="apply-filter-item-caption"> Sort by: </span>
                            <div class="orderCTRL">
                                <ul class="filter-sort-list">
                                    <li data-value="1" class="filter-sort-item filter-sort-active"><span class="filter-sort-select"> Default </span></li>
                                    <li data-value="2" class="filter-sort-item"><span class="filter-sort-select"> Highest experience </span></li>
                                    <li data-value="3" class="filter-sort-item"><span class="filter-sort-select"> Best rating </span></li>
                                    <li data-value="4" class="filter-sort-item" style="display:none"><span class="filter-sort-select"> Least wait time </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <script>
                        function handleShowDieases(isSearching) {
                            $('.diseases_filters_container > button').each(function(dieases__index) {
                                $(this).css('display', 'block')

                            })
                        }

                        function handleShowCities(isSearching) {
                            $('.city_filters_container > button').each(function(dieases__index) {
                                $(this).css('display', 'block')
                            })
                        }

                        $('.diseases_filters_item').on('click', function() {
                            var _urlParams_disease = new URL(window.location);
                            _urlParams_disease.searchParams.delete('spec')
                            _urlParams_disease.searchParams.set('spec', $(this).attr('data-href'))
                            window.history.replaceState({}, '', _urlParams_disease);
                            window.scrollTo(0, 0)
                            window.location.reload()
                        })
                        $('.city_filters_item').on('click', function() {
                            var _urlParams_disease = new URL(window.location);
                            _urlParams_disease.searchParams.delete('city')
                            _urlParams_disease.searchParams.set('city', $(this).attr('data-href'))
                            window.history.replaceState({}, '', _urlParams_disease);
                            window.scrollTo(0, 0)
                            window.location.reload()
                        })

                        $('.exactly-category-button-item-filter').on('click', function() {
                            if ($(this).attr('data-href')) {
                                window.location.href = $(this).attr('data-href') + window.location.search
                                createWhiteBody()
                            }
                        })
                        var showAllDoctors = false
                        $('#filters_diseases_input').on('input', function(e) {
                            var _searchVal = e.target.value
                            if (!_searchVal) {
                                handleShowDieases(false)
                                return
                            }
                            $('.diseases_filters_container > button ').each(function() {
                                var diease_inner_text = $(this).text()
                                if (diease_inner_text.includes(_searchVal)) {
                                    $(this).css('display', 'block');
                                } else {
                                    $(this).css('display', 'none');
                                }
                            })
                        });
                        $('#filters_cities_input').on('input', function(e) {
                            var _searchVal = e.target.value
                            if (!_searchVal) {
                                handleShowCities(false)
                                return
                            }
                            $('.city_filters_container > button ').each(function() {
                                var city_inner_text = $(this).text()
                                if (city_inner_text.includes(_searchVal)) {
                                    $(this).css('display', 'block');
                                } else {
                                    $(this).css('display', 'none');
                                }
                            })
                        });
                        $('#consulation-filter input[type=checkbox], #consulation-filter input[type=radio]').change(function() {
                            $(this).closest('.consultation-filter-box').addClass('filterChanged');
                            soSearch(true);
                        });

                        function resetCheckBox(curThis) {
                            var urlSearchDisease = new URLSearchParams(window.location.search)
                            if (urlSearchDisease.get('spec')) {
                                window.scrollTo(0, 0)
                                window.location.replace(window.location.origin + window.location.pathname)
                            }
                            var urlSearchCity = new URLSearchParams(window.location.search)
                            if (urlSearchDisease.get('city')) {
                                window.scrollTo(0, 0)
                                window.location.replace(window.location.origin + window.location.pathname)
                            }
                            $('#justMaleR').removeAttr('checked');
                            $('#justFemaleR').removeAttr('checked');
                            $(curThis).closest('.consultation-filter-box').removeClass('filterChanged');
                            $('.mobile_clear_all_filters__').css('display', 'flex')
                            soSearch();
                        }
                        $('body').click(function() {
                            $('.openMenu').removeClass('openMenu')
                        });
                        $('#showFilterModal').click(function() {
                            $('#consulation-filter').css('display', 'block')
                        });
                        $('.consultation-filter-header .icon-close').click(function() {
                            $('#consulation-filter').css('display', 'none')
                        });
                        $('.orderCTRL .apply-filter-item-link').click(function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            $(this).closest('.orderCTRL').toggleClass('openMenu');
                        });
                        $('.orderCTRL .filter-sort-list .filter-sort-item').click(function() {
                            $(this).closest('.orderCTRL').toggleClass('openMenu');
                            $(this).parent().find('.filter-sort-active').removeClass('filter-sort-active');
                            $(this).addClass('filter-sort-active');
                            var sortValue = $(this).attr('data-value');
                            changeSort(sortValue);
                            $(this).closest('.orderCTRL').find('.titleDD').html($(this).find('.filter-sort-select').html());
                        });

                        function soSearch(canClose) {
                            showThisRow = true
                            if ($('.listOfConsultants_manBox .expandable').children().length === 0) {
                                $('.listOfConsultants_manBox .expandable').remove();
                            }
                            if ($(window).width() <= 750 && canClose != true) {
                                $('#consulation-filter').css('display', 'none');
                            }
                            var isFemale = $('#justFemaleR').is(':checked');
                            var isMale = $('#justMaleR').is(':checked');
                            console.log(isMale)
                            var all_of_filters = {
                                isFemale: {
                                    value: isFemale,
                                    id: 'justFemaleR',
                                    caption: 'Female'
                                },
                                isMale: {
                                    value: isMale,
                                    id: 'justMaleR',
                                    caption: 'Male'
                                }
                            }
                            var _urlParams = new URL(window.location);
                            var fContainer = $(".filtered_now_list_container")
                            $('#filtered_now____').children('').each(function() {
                                if (!$(this).attr('custom_dynamic_disease')) $(this).remove()
                            });
                            $('#filtered_now____mobile').children('').each(function() {
                                if (!$(this).attr('custom_dynamic_disease')) $(this).remove()
                            });
                            Object.entries(all_of_filters).forEach(function(_f_i_c) {
                                fContainer.removeClass('f_no_d')
                                if (_f_i_c[1].value) {
                                    _urlParams.searchParams.set(_f_i_c[1].id, 'true');
                                    fContainer.append(`<button onclick="removeF_D('${_f_i_c[1].id}')" class="filtered_now_list_item"><i class="fa icon-close fa-close close_filter_btn_icon" ></i> ${_f_i_c[1].caption}</button>`)
                                } else {
                                    _urlParams.searchParams.delete(_f_i_c[1].id)
                                }
                            })
                            window.history.replaceState({}, '', _urlParams);
                            var boolShowAll = false;
                            if (isFemale == false && isMale == false) {
                                boolShowAll = true;
                            }
                            $('.listOfConsultants_manBox > ul > li').each(function(_index) {
                                var dataGender = $(this).attr('data-gender');
                                if (isMale == true && isFemale == true) {} else {
                                    if (isFemale == true && dataGender !== "Female") {
                                        showThisRow = false;
                                    }
                                    if (isMale == true && dataGender !== "Male") {
                                        showThisRow = false;
                                    }
                                }
                                if (showThisRow == false) {
                                    $(this).css('display', 'none');
                                } else {
                                    $(this).css('display', 'flex');
                                }
                            })
                        }
                        
                        function removeF_D(f_name_d) {
                            ecommerceFiltersClickHandler(f_name_d, false)
                            if (f_name_d == 'disease') {
                                var _urlParams_disease_remove = new URL(window.location);
                                _urlParams_disease_remove.searchParams.delete('disease')
                                window.history.replaceState({}, '', _urlParams_disease_remove);
                                window.location.reload()
                                window.scrollTo(0, 0)
                                return
                            }
                            $("#" + f_name_d).prop('checked', false);
                            setTimeout(soSearch, 20)
                        }

                        function changeSort(sortValue) {
                            var targetValue = '';
                            var isAsc = true;
                            if (sortValue == 1) {
                                var isAsc = true;
                                targetValue = 'data-pos';
                            } else if (sortValue == 2) {
                                targetValue = 'data-exp';
                                isAsc = false;
                            } else if (sortValue == 3) {
                                isAsc = false;
                                targetValue = 'data-rating';
                            } else if (sortValue == 4) {
                                isAsc = true;
                                targetValue = 'data-avgresponse';
                            }
                            var allRow = [];
                            $('.listOfConsultants_manBox > ul > li').each(function() {
                                var value = $(this).attr(targetValue).trim();
                                if (!value || value == '' || value == "0" || value == 0) {
                                    value = 999999999;
                                } else {
                                    value = Number.parseInt(value);
                                }
                                allRow.push({
                                    html: $(this).clone(),
                                    sortProperty: value
                                });
                            });
                            allRow = allRow.sort(function(a, b) {
                                return isAsc == true ? (a.sortProperty - b.sortProperty) : (b.sortProperty - a.sortProperty);
                            });
                            if (allRow != null && allRow.length > 0) {
                                $('.listOfConsultants_manBox > ul').html('');
                                for (var i = 0; i < allRow.length; i++) {
                                    $('.listOfConsultants_manBox > ul').append(allRow[i].html);
                                }
                                $(".listOfConsultants_manBox > ul > li[data-rating='']").attr("data-rating", "1")
                            }
                        }
                    </script>
                </div>
                <div class="listOfConsultants_manBox">
                    <ul class="main-doctor-list">
                        {% for coach in coach_list %}
                        <li data-isonline="True" data-super-expert="False" data-gender="{{ coach.coach_gender }}" data-hasfastphone="False" data-insuranceisactive="False" data-hasphone="True" data-exp="{{ coach.coach_experience }}" data-rating="{% widthratio coach.coach_rating 1 20 %}" data-videocall="False" data-chat="False" class="rowItem_LC doctorId doctor-card-container" data-id="014c2f112cc14d148ec2cc077c4b554b" data-name="{{ coach.coach_user.full_name }}  " data-category="coaching" data-expertise="{{ coach.coach_speciality }}" data-superexpertise="" data-childcategory="coaching" data-expr-1579="1" data-pos="{{ forloop.counter }}" data-ecm-visited="1" data-ecm-view="1" data-ecm-ga4-visited="1" data-ecm-ga4-view="1">
                            <a class="doctor-card-container-layout" href="/doctorConsulation/{{ coach.coach_user.phone }}/" title="Coaching with {{ coach.coach_user.full_name }}    ">
                                <div class="doctor-card-right-side">
                                    <div class="doctor-card-personal-info-container">
                                        <div class="doctor-card-personal-image"><img src="{% static 'coaching/images/avatar.png' %}"  title="Coaching with {{ coach.coach_user.full_name }}    " alt="Coaching with {{ coach.coach_user.full_name }}    " loading="lazy"> <i class="doctor-card-activity-status online-status rounded-circle"></i></div>
                                        <div class="doctor-card-personal-info"><span class="doctor-card-personal-info-name">{{ coach.coach_user.full_name }} </span> <span class="doctor-card-personal-info-specialty">{{ coach.coach_speciality }}</span> <span class="doctor-card-personal-info-specialty doctor-card-personal-info-super-specialty"></span></div>
                                    </div>
                                    <div class="doctor-card-platform-info-container">
                                        <div class="doctor-card-platform-info"><span class="doctor-card-rating"> <i class="fa fa-star"></i> 4.9 </span> <span class="doctor-card-comments"> <i class="doctor-card-comments-icon"></i> <span class="doctor-card-comments-text">3242 comments</span> </span></div>
                                    </div>
                                </div>
                                <div class="doctor-card-left-side">
                                    <div class="doctor-card-business-info">
                                        <div class="doctor-card-business-info-row"><span class="doctor-card-business-info-title">Experience:</span> <span class="doctor-card-business-info-value">{{ coach.coach_experience }} years</span></div>
                                        <div class="doctor-card-business-info-row"><span class="doctor-card-business-info-title">Successfull coachings:</span> <span class="doctor-card-business-info-value">8925</span> <span class="doctor-card-business-info-subtitle">( in 3 years and 6 months )</span></div>
                                    </div>
                                    <div class="doctor-card-cta-container">
                                        <div class="green-tertiary-btn doctor-card-cta">Get coaching <i class="icon icon-arrow-left"></i></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <button id="loadmorebtn" class="show_more_doctors_list" style="display:flex">Show more coaches</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidden-ecm-category-id" data-is-phone-call="0" data-is-fast-phone="0" data-cat-caption="Coaching">
<script>
    const loadBtn = document.getElementById('loadmorebtn');
    const total = {{ total_coach }};
    if ($('.doctor-card-container-layout').length == total) {
        loadBtn.classList.add('not-visible');
    }
    function loadmorePost() {
        var _current_item = $('.doctor-card-container-layout').length;
        const content_container = $('.main-doctor-list')[0];
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var data = {
            'offset': _current_item
        };
        if (urlParams.has('city')) {
            data['city'] = urlParams.get('city')
        };
        if (urlParams.has('spec')) {
            data['spec'] = urlParams.get('spec')
        };
        if (urlParams.has('justFemaleR')) {
            data['justFemaleR'] = urlParams.get('justFemaleR')
        };
        if (urlParams.has('justMaleR')) {
            data['justMaleR'] = urlParams.get('justMaleR')
        };
        $.ajax({
            url: '{% url "load" %}',
            type: 'GET',
            data: data,
            success: function (response) {
                const data = response.coaches
                data.map((coach, i) => {
                    content_container.innerHTML += `<li data-isonline="True" data-super-expert="False" data-gender="${coach.coach_gender}" data-hasfastphone="False" data-insuranceisactive="False" data-hasphone="True" data-exp="${coach.coach_experience}" data-rating="{% widthratio coach.coach_rating 1 20 %}" data-videocall="False" data-chat="False" class="rowItem_LC doctorId doctor-card-container" data-id="014c2f112cc14d148ec2cc077c4b554b" data-name="${coach.coach_user__full_name}  " data-category="coaching" data-expertise="${coach.coach_speciality}" data-superexpertise="" data-childcategory="coaching" data-expr-1579="1" data-pos="${i+1+_current_item}" data-ecm-visited="1" data-ecm-view="1" data-ecm-ga4-visited="1" data-ecm-ga4-view="1">
                            <a class="doctor-card-container-layout" href="/doctorConsulation/${coach.coach_user__phone}/" title="Coaching with ${coach.coach_user__full_name}    ">
                                <div class="doctor-card-right-side">
                                    <div class="doctor-card-personal-info-container">
                                        <div class="doctor-card-personal-image"><img src="{% static 'coaching/images/avatar.png' %}"  title="Coaching with ${coach.coach_user__full_name}    " alt="Coaching with ${coach.coach_user__full_name}    " loading="lazy"> <i class="doctor-card-activity-status online-status rounded-circle"></i></div>
                                        <div class="doctor-card-personal-info"><span class="doctor-card-personal-info-name">${coach.coach_user__full_name} </span> <span class="doctor-card-personal-info-specialty">${coach.coach_speciality}</span> <span class="doctor-card-personal-info-specialty doctor-card-personal-info-super-specialty"></span></div>
                                    </div>
                                    <div class="doctor-card-platform-info-container">
                                        <div class="doctor-card-platform-info"><span class="doctor-card-rating"> <i class="fa fa-star"></i> 4.9 </span> <span class="doctor-card-comments"> <i class="doctor-card-comments-icon"></i> <span class="doctor-card-comments-text">3242 comments</span> </span></div>
                                    </div>
                                </div>
                                <div class="doctor-card-left-side">
                                    <div class="doctor-card-business-info">
                                        <div class="doctor-card-business-info-row"><span class="doctor-card-business-info-title">Experience:</span> <span class="doctor-card-business-info-value">${coach.coach_experience} years</span></div>
                                        <div class="doctor-card-business-info-row"><span class="doctor-card-business-info-title">Successfull coachings:</span> <span class="doctor-card-business-info-value">8925</span> <span class="doctor-card-business-info-subtitle">( in 3 years and 6 months )</span></div>
                                    </div>
                                    <div class="doctor-card-cta-container">
                                        <div class="green-tertiary-btn doctor-card-cta">Get coaching <i class="icon icon-arrow-left"></i></div>
                                    </div>
                                </div>
                            </a>
                        </li>`;
                })
                if ($('.doctor-card-container-layout').length == total) {
                    loadBtn.classList.add('not-visible');
                }
            },
            error: function (err) {
                console.log(err);
            },
        });
    }
    loadBtn.addEventListener('click', () => {
        loadmorePost()
    });
</script>
<script>$(document).ready(function(){var currentRoute=window.location.pathname;if(currentRoute==='/consultation/gynecologist-infertility'){$('body').append(`<style type="text/css">#goftino_w {display: none !important }</style>`);}else{$('#kayako-container-plp').css('display','none');}})</script>

{% endblock content %}